<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard Home</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/CSS/adminhome.css">

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-272764433-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-272764433-1');
    </script>

</head>

<body style="background-color:rgb(214, 214, 214);">
    <%- include("./Partials/navadmin.ejs") %>
        <%- include("./Partials/localiztion.ejs") %>
            <section>
      
                </div>
                <div class="container">
                    <div class="row">
                        <div class="box">
                            <div class="box-title">Revenue</div>
                            <div class="box-content">
                                <span class="number"> <% let sum = 0; %>
              <% orders.forEach(order => { %>
                <% sum = sum + order.totalPrice; %>
              <% }) %>
              <%= sum %></span>

                                <div class="cart four">
                                    <i class="bx bxs-cart"></i>
                                </div>
                            </div>
                        </div>
                        <div class="box">
                            <div class="box-title">Total sales</div>
                            <div class="box-content">
                                <span class="number"><%= orders.length %></span>

                                <div class="cart">
                                    <i class="bx bxs-cart"></i>
                                </div>
                            </div>
                        </div>
                        <div class="box">
                            <div class="box-title">Number Of Visitors</div>
                            <div class="box-content">
                                <span class="number">55</span>

                                <div class="cart two">
                                    <i class="bx bxs-cart"></i>
                                </div>
                            </div>
                        </div>
                        <div class="box">
                            <div class="box-title">Registered Users</div>
                            <div class="box-content">
                                <span class="number"><%= users.length %></span>

                                <div class="cart three">
                                    <i class="bx bxs-cart"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row2">


                      <div class="recent-sales box">
                        <div class="title">Recent Sales</div>
                        <div class="sales-details">
                            <ul class="details">
                                <li class="topic1">Date</li>
                                <% orders.slice(0, 4).reverse().forEach(order => { %>
                                    <li1>
                                        <a href="#">
                                            <%= order.dateOrdered %>
                                        </a>
                                    </li1>
                                <% }) %>
                            </ul>
                            <ul class="details">
                                <li class="topic2">Product</li>
                                <% orders.slice(0, 5).reverse().forEach(order => { %>
                                    <li>
                                        <a href="#">
                                            <%= order.Products %>
                                        </a>
                                    </li>
                                <% }) %>
                            </ul>
                            <ul class="details">
                                <li class="topic3">Price</li>
                                <% orders.slice(0, 5).reverse().forEach(order => { %>
                                    <li4>
                                        <a href="#">
                                            <%= order.totalPrice %>
                                        </a>
                                    </li4>
                                <% }) %>
                            </ul>
                            <ul class="details">
                                <li class="topic4">Status</li>
                                <% orders.slice(0, 5).reverse().forEach(order => { %>
                                    <li>
                                        <a href="#">
                                            <%= order.status %>
                                        </a>
                                    </li>
                                <% }) %>
                            </ul>
                        </div>
                    </div>
                    
                        <div class="top-sales box">
                            <div class="title">Top Selling Products</div>
                            <ul class="top-sales-details">
                                <li>
                                    <a href="#">
                                        <img src="images/sunglasses.jpg" alt="">
                                        <span class="product">Black Zipper</span>
                                    </a>
                                    <span class="price">$1107</span>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="images/jeans.jpg" alt="">
                                        <span class="product">Hollister Hoodie</span>
                                    </a>
                                    <span class="price">$1567</span>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="images/nike.jpg" alt="">
                                        <span class="product">Velvet Belt</span>
                                    </a>
                                    <span class="price">$1234</span>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="images/scarves.jpg" alt="">
                                        <span class="product">White Short Sleeve</span>
                                    </a>
                                    <span class="price">$2312</span>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="images/blueBag.jpg" alt="">
                                        <span class="product"> Grey Short Sleeve</span>
                                    </a>
                                    <span class="price">$1456</span>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="images/bag.jpg" alt="">
                                        <span class="product">Black Belt</span>
                                    </a>
                                    <span class="price">$2345</span>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="Public\images\Tops\Black White Logo2.webp" alt="">
                                        <span class="product">Hollister T-Shirt</span>
                                    </a>
                                    <span class="price">$2345</span>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </section>
            <script src="/js/adminhome.js"></script>
</body>

</html>