<!DOCTYPE html>

<html lang="en">


<!--HEADER STARTS HERE -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/admin_user.css">
    <title>User management</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Exo">
</head>

<script src="/js/admin_user.js"></script>

<body id="body">
    <%- include("./Partials/navadmin.ejs") %>


        <h1 class="title">User Details</h1>
        <br>
        <div class="searchbar_div">
            <form action="/admin-user-management/search" method="post">
                <input type="text" class="searchbar" id="search_bar_users" name="search_bar_users" placeholder="Search for a user with username..">
                <input type="submit" value="search" class="buttons">
            </form>

        </div>

        <div class="user-container" id="userscontainer">
            <% if(message !=''){ %>

                <p class="reg_message">
                    <%= message %>
                </p>
                <% } %>


                    <% if (users.length > 0) { %>

                        <table class="headers">
                            <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Type</th>
                                    <th> Edit</th>
                                    <th>Delete</th>
                                    <th>View</th>
                                </tr>
                            </thead>
                        </table>

                        <% users.forEach(user=> { %>


                            <div class="user-container">


                                <table class="customers">


                                    <tr>
                                        <td class="usernames">

                                            <%= user.username %>
                                        </td>
                                        <td>

                                            <%= user.type %>
                                        </td>
                                        <td>
                                            <button type="button" class="buttons" onclick="edit_user('<%= user.username %>') "> edit </button>
                                        </td>
                                        <td>
                                            <button type="button " class="buttons " onclick="edit_user('<%= user.id %>') "> delete </button>
                                        </td>
                                        <td>
                                            <button type="button " class="buttons  " onclick="view_more('<%= users.id %>') "> view more </button>
                                        </td>




                                    </tr>



                                </table>

                                <div class="formcontainer2" id="<%= user.username %>" hidden>
                                    <p>pls fill the information again </p>
                                    <form action="/admin-user-management/edit/<%= user.id %> " method="POST" enctype="multipart/form-data" class="myform">

                                        <input type="text " class="inputs " placeholder="enter username " id="username" name="username" minlength="8 " maxlength="16 " required>
                                        <br>
                                        <input type="email" class="inputs " placeholder="Enter Your Email " id="email " name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,}$" required>
                                        <br>

                                        <input type="password" class="inputs " placeholder="Enter Your Password " id="pw" name="pw" minlength="8 " maxlength="16 " required>
                                        <br>

                                        <input type="password" class="inputs " placeholder="confirm password " id="cpw" name="cpw" minlength="8 " maxlength="16 " required>
                                        <br>
                                        <label class="phone_label " for="phone_label">Phone Number:</label>

                                        <div class="input-group ">

                                            <select id="countrycode " name="countrycode ">
                             <option value="1 ">United States (+1)</option>
                             <option value="86 ">China (+86)</option>
                             <option value="91 ">India (+91)</option>
                             <option value="81 ">Japan (+81)</option>
                             <option value="7 ">Russia (+7)</option>
                             <option value="82 ">South Korea (+82)</option>
                             <option value="62 ">Indonesia (+62)</option>
                             <option value="55 ">Brazil (+55)</option>
                             <option value="92 ">Pakistan (+92)</option>
                             <option value="234 ">Nigeria (+234)</option>
                             <option value="880 ">Bangladesh (+880)</option>
                             <option value="33 ">France (+33)</option>
                             <option value="49 ">Germany (+49)</option>
                             <option value="44 ">United Kingdom (+44)</option>
                             <option value="39 ">Italy (+39)</option>
                             <option value="90 ">Turkey (+90)</option>
                             <option value="54 ">Argentina (+54)</option>
                             <option value="20 ">Egypt (+20)</option>
                             <option value="81 ">Japan (+81)</option>
                             <option value="86 ">China (+86)</option>
                             </select>

                                        </div>
                                        <br>
                                        <input type="text" class="" id="phone " name="phone" required>

                                        <br>


                                        <input type="submit" class="submit" value="edit now ">
                                    </form>


                                </div>
                                <div class="formcontainer2" id="<%= user.id %>" hidden="hidden">

                                    <p>are you sure you want to delete ?</p>
                                    <form action="/admin-user-management/delete/<%= user.username %>" method="post">
                                        <input type="submit" class="submit" value="delete">
                                    </form>

                                </div>
                            </div>








                            <br>
                            <% }) %>

                                <% } 
            
            else { %>

                                    <p>There but there is zero users to display ...</p>

                                    <% } %>







        </div>
        <div class=" formcontainer ">

            <br>
            <p>pls fill the information again </p>
            <form action="/admin-user-management/adduser" method="POST" enctype="multipart/form-data" class="myform">

                <input type="text " class="inputs " placeholder="enter username " id="username" name="username" minlength="8 " maxlength="16 " required>
                <br>
                <input type="email" class="inputs " placeholder="Enter Your Email " id="email " name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,}$" required>
                <br>

                <input type="password" class="inputs " placeholder="Enter Your Password " id="pw" name="pw" minlength="8 " maxlength="16 " required>
                <br>

                <input type="password" class="inputs " placeholder="confirm password " id="cpw" name="cpw" minlength="8 " maxlength="16 " required>
                <br>
                <label class="phone_label " for="phone_label">Phone Number:</label>

                <div class="input-group ">

                    <select id="countrycode " name="countrycode ">
                             <option value="1 ">United States (+1)</option>
                             <option value="86 ">China (+86)</option>
                             <option value="91 ">India (+91)</option>
                             <option value="81 ">Japan (+81)</option>
                             <option value="7 ">Russia (+7)</option>
                             <option value="82 ">South Korea (+82)</option>
                             <option value="62 ">Indonesia (+62)</option>
                             <option value="55 ">Brazil (+55)</option>
                             <option value="92 ">Pakistan (+92)</option>
                             <option value="234 ">Nigeria (+234)</option>
                             <option value="880 ">Bangladesh (+880)</option>
                             <option value="33 ">France (+33)</option>
                             <option value="49 ">Germany (+49)</option>
                             <option value="44 ">United Kingdom (+44)</option>
                             <option value="39 ">Italy (+39)</option>
                             <option value="90 ">Turkey (+90)</option>
                             <option value="54 ">Argentina (+54)</option>
                             <option value="20 ">Egypt (+20)</option>
                             <option value="81 ">Japan (+81)</option>
                             <option value="86 ">China (+86)</option>
                             </select>

                </div>

                <input type="text" class="" id="phone " name="phone" required>


                <br>
                <select id="type" name="type" required>
            <option value="admin">admin</option>
            <option value="user">user</option>
            </select>

                <br>
                <input type="submit" class="submit" value="add user ">
            </form>


        </div>




</body>
<!--BODY ENDS HERE -->

</html>