<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Dashboard Home</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="/CSS/adminhome.css">
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-S76C7B42DJ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-S76C7B42DJ');
</script>
</head>

<body style="background-color:rgb(214, 214, 214);">
  <%- include("./Partials/navadmin.ejs") %>
 
  <section>
    <div class="container">
      <div class="row">
        <div class="box">
          <div class="box-title">Revenue</div>
          <div class="box-content">
            <span class="number"><%=analyticsdata.revenue%></span>
           
            <div class="cart four">
              <i class="bx bxs-cart"></i>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="box-title">Total sales</div>
          <div class="box-content">
            <span class="number"><%=analyticsdata.totalsales%></span>
           
            <div class="cart">
              <i class="bx bxs-cart"></i>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="box-title">Number Of Visitors</div>
          <div class="box-content">
            <span class="number"><%=analyticsdata.numberofvisitors%></span>
            
            <div class="cart two">
              <i class="bx bxs-cart"></i>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="box-title">Registered Users</div>
          <div class="box-content">
            <span class="number"><%=analyticsdata.registered%></span>
           
            <div class="cart three">
              <i class="bx bxs-cart"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="row2">
          <div class="recent-sales box">
            <div class="title">Recent Sales</div>
            <div class="sales-details">
              <ul class="details">
                <li class="topic">Date</li>
                <li><a href="#">02 Jan 2021</a></li>
                <li><a href="#">02 Jan 2021</a></li>
                <li><a href="#">02 Jan 2021</a></li>
                <li><a href="#">02 Jan 2021</a></li>
                <li><a href="#">02 Jan 2021</a></li>
              </ul>
              <ul class="details">
                <li class="topic">Product</li>
                <li><a href="#">Tommy Hilfiger</a></li>
                <li><a href="#">Rolex Watch</a></li>
                <li><a href="#">Sunglasses</a></li>
                <li><a href="#">Hourglass Jeans</a></li>
                <li><a href="#">Nike Shoes</a></li>
              </ul>
              <ul class="details">
                <li class="topic">Price</li>
                <li><a href="#">$123</a></li>
                <li><a href="#">$234</a></li>
                <li><a href="#">$345</a></li>
                <li><a href="#">$456</a></li>
                <li><a href="#">$567</a></li>
              </ul>
              <ul class="details">
                <li class="topic">Size</li>
                <li><a href="#">L</a></li>
                <li><a href="#">XL</a></li>
                <li><a href="#">L</a></li>
                <li><a href="#">XXL</a></li>
                <li><a href="#">M</a></li>
              </ul>
            </div>
            
          </div>
          <div class="top-sales box">
            <div class="title">Top Selling Products</div>
            <ul class="top-sales-details">
              <li>
                <a href="#">
                  <img src="images/sunglasses.jpg" alt="">
                  <span class="product">Vuitton Sunglasses</span>
                </a>
                <span class="price">$1107</span>
              </li>
              <li>
                <a href="#">
                  <img src="images/jeans.jpg" alt="">
                  <span class="product">Hourglass Jeans</span>
                </a>
                <span class="price">$1567</span>
              </li>
              <li>
                <a href="#">
                  <img src="images/nike.jpg" alt="">
                  <span class="product">Nike Sport Shoe</span>
                </a>
                <span class="price">$1234</span>
              </li>
              <li>
                <a href="#">
                  <img src="images/scarves.jpg" alt="">
                  <span class="product">Hermes Silk Scarves</span>
                </a>
                <span class="price">$2312</span>
              </li>
              <li>
                <a href="#">
                  <img src="images/blueBag.jpg" alt="">
                  <span class="product">Succi Ladies Bag</span>
                </a>
                <span class="price">$1456</span>
              </li>
              <li>
                <a href="#">
                  <img src="images/bag.jpg" alt="">
                  <span class="product">Gucci Women's Bags</span>
                </a>
                <span class="price">$2345</span>
              </li>
              <li>
                <a href="#">
                  <img src="images/addidas.jpg" alt="">
                  <span class="product">Adidas Running Shoe</span>
                </a>
                <span class="price">$2345</span>
              </li>
            </ul>
          </div>
        
      </div>
    </div>
  </section>
  <script src="/js/adminhome.js"></script>
</body>

</html>