<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/CSS/edit.css">
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-272764433-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-272764433-1');

  </script>

  <title>Edit Product</title>
  
</head>
<script src="/js/edit.js"></script>
<body>
  
  <%- include("./Partials/navadmin.ejs") %>
  <h1>Edit Product</h1>
  <form method="POST" action="/edit-product/<%= product._id %>" enctype="multipart/form-data" onsubmit="return validateForm()">
    <label for="itemName">Item Name:</label>
    <input type="text" id="itemName" name="itemName" value="<%= product.itemName %>" required>
    <span class="error-message" id="itemNameError"></span>

    <label for="description">Description:</label>
    <textarea id="description" name="description" required><%= product.description %></textarea>
    <span class="error-message" id="descriptionError"></span>

    <label for="image">Image:</label>
    <input type="file" id="image" name="image" accept="image/*">

    <label for="sales">Sales (percentage):</label>
    <input type="number" id="sales" name="sales" value="<%= product.sales %>" required min="0" max="100">
    <span class="error-message" id="salesError"></span>

    <label for="price_before">Price Before:</label>
    <input type="number" id="price_before" name="price_before" onchange="calculatePriceAfter()" value="<%= product.price_before %>" required>
    <span class="error-message" id="priceBeforeError"></span>

    <label for="price_after">Price After:</label>
    <input type="number" id="price_after" name="price_after" readonly required>
    <span class="price-after-info">This will be calculated automatically based on Price Before and Sales.</span>

    <label for="type">Type:</label>
    <select id="type" name="type" required>
      <option value="jackets" <%= product.type === "jackets" ? "selected" : "" %>>Jackets</option>
      <option value="tops" <%= product.type === "tops" ? "selected" : "" %>>Tops</option>
      <option value="bottoms" <%= product.type === "bottoms" ? "selected" : "" %>>Bottoms</option>
      <option value="accessories" <%= product.type === "accessories" ? "selected" : "" %>>Accessories</option>
    </select>

    <button type="submit">Save Changes</button>
  </form>

</body>
<footer><%- include("./Partials/localiztion.ejs") %></footer>

</html>

