<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Item Details</title>
  <link rel="stylesheet" href="/CSS/item-details.css">
</head>

<body>
  <div class="container">
    <h1>Item Details</h1>

    <div class="product">
      <div class="images">
        <img src="/uploads/<%= product.images[0] %>">
        <img src="/uploads/<%= product.images[1] %>" class="imgtop">
      </div>
      <div class="details">
        <h2><%= product.itemName %></h2>
        <p><%= product.description %></p>
        <p>Price: $<%= product.price_after %></p>
      </div>
    </div>

    <a href="/"><button class="back-button">Back to Home</button></a>
  </div>
</body>

</html>
