import Product from "../models/Product.js";
<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/css/products.css">
  <title>Boomy's Jackets</title>
</head>

<body>
  <%- include("./partials/navproduct.ejs") %>
  <%- include("./Partials/chat.ejs") %>


  <div class="container">



    <div class="text2">
      <p>Category</p>
      <h3><%- Product.type %></h3>
    </div>
    <div class="row">
      <div class="column">
        <div>
          <div class="images">
            <img src= "<%- Product.images %>">
          </div>
          <div class="text">
            <h4><%- Products.itemName %> </h4>
            <h5 class="before"><% Product.price_before %></h5>
            <div style ="display: inline-block;">
              <h5 class="after"><%- Product.price_after %></h5> 
              <h3 class="after"><%- Product.Sales %> % Discount </h3></div>
              <button class="addbutton" type="submit">Add To Cart</button>
          </div>
        </div>
      </div>
    </div>
     
      
  </div>

</body>

<footer>
  <%- include("./Partials/footer.ejs") %>
</footer>

</html>