<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/productpage.css">
    <title>Boomy's Item</title>
</head>
<body>
  <%- include("./Partials/NavUser.ejs") %>
    <%- include("./Partials/chat.ejs") %>
<div class="container">

  <div class="row">
      <div class="col-12 col-md-6">
          <div class="product-image">
              <img src="/uploads/<%= product1.images[0] %>" class="mySlides">
              <img src="/uploads/<%= product1.images[1] %>" id="alt-img" class="mySlides">
              <button class="Lbutton" onclick="plusDivs(-1)"><i class="material-icons">keyboard_arrow_left</i></a>
              <button class="Rbutton" onclick="plusDivs(1)"><i class="material-icons">keyboard_arrow_right</i></a>
          </div>
      </div>
      <div class="col-12 col-md-6">
          <div class="product-details">
              <h1 class="product-name"><%= product1.itemName %></h1>
              <h2 class="product-price">
                <span class="before">EGP <%= product1.price_before %>.00</span>
                <span class="after">EGP <%= product1.price_after %>.00</span>
              </h2>
              <p class="product-discount"><%= product1.Sales %>% Discount</p>
              <div class="product-sizes">
                  <h4 class="product-name">Size:</h4>
                  <button class="size-button" id="size-s" onclick="chooseSize('S')">S</button>
                  <button class="size-button" id="size-m" onclick="chooseSize('M')">M</button>
                  <button class="size-button" id="size-l" onclick="chooseSize('L')">L</button>
                  <button class="size-button" id="size-xl" onclick="chooseSize('XL')">XL</button>
                  <button class="size-button" id="size-xxl" onclick="chooseSize('XXL')">XXL</button>
                </div>
              </div>
              <p class="product-description"><%= product1.description %></p>
              <span class="buttons">
                <a class="add-to-cart-button" href="/cart/add/<%= product1._id %>">Add To Cart</a>
                <a class="add-to-wishlist-button" href="#">Wishlist</a>
                </span>
            </div>
      </div>
  </div>
</div>

<footer>
    <%- include("./Partials/footer.ejs") %>
</footer>

<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  x[slideIndex-1].style.display = "block";  
}
function chooseSize(size) {
  // Get all the size buttons
  var sizeButtons = document.querySelectorAll('.size-button');

  // Get the chosen button and the size label
  var chosenButton = document.getElementById('size-' + size.toLowerCase());
  var sizeLabel = document.querySelector('.product-sizes h4');

  // If the chosen button is already selected, reset the size label and return
  if (chosenButton.classList.contains('chosen')) {
    chosenButton.classList.remove('chosen');
    sizeLabel.innerHTML = 'Size:';
    return;
  }

  // Remove the "chosen" class from all buttons and reset the size label
  sizeButtons.forEach(function(button) {
    button.classList.remove('chosen');
  });
  sizeLabel.innerHTML = 'Size:';

  // Add the "chosen" class to the selected button and update the size label
  chosenButton.classList.add('chosen');
  sizeLabel.innerHTML = 'Size: ' + size;
}
</script>

</html>