<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/products.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Search</title>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-272764433-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-272764433-1');
</script>

</head>
<script src="/js/productsearch.js"></script>
<body>
   
    <%- include("./Partials/NavUser.ejs") %>
        <%- include("./Partials/chat.ejs") %>

            <div class="container">
                <div class="text2">
                    <p>Search Result</p>
                </div>
                <div class="filter">
                    <label for="sort">Sort by:</label>
                    <select id="sort" onchange="sortProducts(this.value)">
                <option value="default">Default</option>
                <option value="highToLow">Price: High to Low</option>
                <option value="lowToHigh">Price: Low to High</option>
            </select>
                </div>
                <% if (Product.length > 0) { %>
                    <% let i = 0; %>
                        <div class="row">
                            <% Product.forEach(pro => { %>
                                <% if (i % 3 === 0 && i !== 0) { %>
                        </div>
                        <div class="row">
                            <% } %>
                                <div class="column">
                                    <div>
                                        <a href="/product/<%= pro.id %>">
                                            <div class="images">
                                                <img src="/uploads/<%= pro.images[0] %>">
                                                <img src="/uploads/<%= pro.images[1] %>" class="imgtop">
                                            </div>
                                        </a>
                                        <div class="product-details">
                                            <h1 class="product-name">
                                                <%= pro.itemName %>
                                            </h1>
                                            <h2 class="product-price">
                                                <span class="before">EGP <%= pro.price_before %>.00</span>
                                                <span class="after">EGP <%= pro.price_after %>.00</span>
                                            </h2>
                                            <p class="product-discount">
                                                <%= pro.Sales %>% Discount</p>
                                            <span class="buttons">
                                <a class="add-to-cart-button" href="/cart/add/<%= pro._id %>">Add To Cart</a>
                                <a class="add-to-wishlist-button" href="/wishlist/add/<%= pro._id %>">Wishlist</a>

                                </span>
                                        </div>
                                    </div>
                                </div>
                                <% i++; %>
                                    <% }) %>
                        </div>
                        <% } else { %>
                            <p>There are no products to display...</p>
                            <% } %>
                                <div class="pagination">
                                    <a href="#" class="pagination-button" id="previous-button">Previous</a>
                                    <a href="#" class="pagination-button" id="next-button">Next</a>
                                </div>
            </div>

            <footer>
                
                <%- include("./Partials/footer.ejs") %>
            </footer>

          