<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/CSS/vproduct.css">
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-272764433-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-272764433-1');
</script>

</head>
<body>
<%- include("./Partials/navadmin.ejs") %>
<% const productTypes = ['jackets', 'bottoms', 'tops', 'accessories']; %>

<% productTypes.forEach(type => { %>
  <section>
    <h2><%= type.charAt(0).toUpperCase() + type.slice(1) %></h2>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Images</th>
          <th>Price</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% arrproduct.filter(item => item.type === type).forEach(item => { %>
          <tr>
            <td><%= item.itemName %></td>
            <td>  <% item.images.forEach(function(image) { %>
              <img src="/uploads/<%= image %>" alt="Product Image" width="100">
            <% }); %></td>
            
            <td><%= item.price_after %></td>
            <td><a class="btn" href="/details/<%= item.id %>">Show More</a></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </section>
<% }); %>
</body>
<footer><%- include("./Partials/localiztion.ejs") %></footer>


